.form-container {
    background: whitesmoke;
    margin: 20vh auto;
    padding: .5em;
    box-shadow: 0px 0px 10px 0px #999;
    border-radius: 5px;

    @media screen and (max-width: 768px) {
        margin-top: 1em;
    }

    h1 {
        text-align: center;
        margin: 1em 0 0;
    }

    button.ui.button {
        padding: 1em;
    }

    .ui.divided.grid {
        margin: 1em 0;
    }

    form#sign-form {
        margin: 1em 2em;
        max-width: 400px;

        .ui.input {
            display: block;
            margin: .5em 0;

            input {
                width: 100%;
            }
        }

        .buttons {
            margin-top: .4em;
            text-align: center;

            button.google-login {
                color: whitesmoke;
            }
        }

        &.registration {
            margin-left: 30%;
        }
    }

    .button-container {
        text-align: center;
        margin: 3em auto;

        &.right {
            text-align: left;
        }

        .btn {
            margin: 4.5em auto;
        }

        @media screen and (max-width: 768px) {
            margin-top: .5em;

            .btn {
                margin: 1em auto;
            }
        }
    }
}